.item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.item-responsive {
  flex-direction: column;
  border-left: 1px solid #ded5c8;
  border-bottom: 1px solid #ded5c8;
}

.item:hover {
  cursor: pointer;
}

.big {
  flex-grow: 2;
}

.item .description {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 7px;
}

.item .img {
  max-width: 90%;
}

.item .animation {
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.item .title {
  font-size: 22px;
  line-height: 28px;
  color: #655352;
  font-family: 'Lyon Text Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0;
  text-align: center;
}

.item .price {
  font-size: 14px;
  line-height: 18px;
  color: #b6aea3;
  font-family: "futura-pt-n4", "futura-pt", sans-serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.item:hover .title,
.item:hover .price {
  color: #00336e;
}

@media screen and (max-width: 600px) {
  .item-responsive {
    flex-direction: row;
    border-left: 1px solid #ded5c8;
    border-right: 1px solid #ded5c8;
    border-bottom: 1px solid #ded5c8;
    justify-content: flex-start;
  }

  .item .description {
    align-items: flex-start;
  }

  .item .img {
    max-width: 30%;
  }

  .big {
    flex-grow: 1;
  }
}
