.list {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid #ded5c8;
  border-bottom: 1px solid #ded5c8;
}

.list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-left: 1px solid #ded5c8;
}

.list li:last-child {
  border-right: 1px solid #ded5c8;
}

.list .item .img {
  max-width: 90%;
}

.list .item .title {
  font-size: 22px;
  line-height: 28px;
  color: #655352;
  font-family: 'Lyon Text Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 7px;
}

.list .item .price {
  font-size: 14px;
  line-height: 18px;
  color: #b6aea3;
  font-family: "futura-pt-n4", "futura-pt", sans-serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.1em;
}
