.list {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid #ded5c8;
  border-bottom: 1px solid #ded5c8;
}

.list li:last-child {
  border-right: 1px solid #ded5c8;
}
