.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.list-responsive {
  flex-direction: initial;
}

.list li:last-child {
  border-right: 1px solid #ded5c8;
}

@media only screen and (max-width: 480px) {
  .list-responsive {
    flex-direction: column;
  }

  .list li:last-child {
    border-bottom: 1px solid #ded5c8;
  }
}

